<!DOCTYPE html>
<html>
<head>
</head>
	<body>
			<h2 class="arvo gris_claro midfont">Estimadx <%= @nombre %>,</h2>

			<h2 class="arvo gris_claro midfont"> En breve recibirás noticias mías. <br>Gracias y ¡buen día!</h2>

			<%= link_to 'irenemoreno.io', 'https://www.irenemoreno.io', { :class => 'enlace subrayado', :target => "blank"}%>

	</body>
</html>