<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<p>
Nuevo mensaje de:
usuario: <%= @nombre %><br>
email: <%= @email %><br>
asunto: <%= @asunto %><br>
Mensaje: <%= @mensaje %><br>
</p>
</body>
</html>