<div class ="container fondo_contacto">
<!-- navegacion -->
		<div class="row middle-xs fondo">

			<div class="col-xs-12 col-md-8 first-xs">
				<h1 class="big"><a href="index.html" class="rosa josefin esp_izq_peq">irene moreno</a></h1>
			</div>

			<nav class="col-xs-12 col-md-4">
				<table>
					<tr>
						<td width="100"><%= link_to 'blog', 'blog', { :class => 'enlace josefin negrita midfont'} %></td>
						<td width="100"><p class="josefin gris_claro negrita midfont ama_back">contacto</p></td>

					</tr>
				</table>
			</nav>

		</div>

<hr class="doble">

<!-- datos de contacto -->
		<div class="row center-xs middle-xs">
			<div class="col-xs-12 centro">
				<div>
					<h2 class="josefin midfont rosa">CONTACTO</h2>
				</div>
				<div>
					<h4 class="arvo">Escríbeme un mail</h4> 
					<h4 class="arvo"><a href="irene.morenocano@gmail.com" class="enlace">irene.morenocano@gmail.com</a></h4>
					<h4 class="arvo">o llamarme vía Skype</h4>
								<script type="text/javascript" src="https://secure.skypeassets.com/i/scom/js/skype-uri.js"></script>
								<div id="SkypeButton_Call_irenemoreno_1">
								 <script type="text/javascript">
								 Skype.ui({
								 "name": "dropdown",
								 "element": "SkypeButton_Call_irenemoreno_1",
								 "participants": ["irenemoreno"]
								 });
								 </script>
								 </div>
				</div>
			</div>
		</div>

		
		<div class="row center-xs middle-xs">
			<div class="col-xs-12">
				<h2 class="josefin gris_claro midfont">Open for hiring!!</h2>
			</div>
		</div>		
		<br><br>

<!-- Redes Sociales  -->
		<div class="row center-xs">
			<div class="col-xs-12">

				<%= link_to image_tag('twi.png', {:alt => 'irenemoreno-twitter', :title => 'irenemoreno-twitter', :class => 'blog_icon'}), 'https://twitter.com/Ireono', :target => 'blank'%>

				<%= link_to image_tag('linke.png', {:alt => 'irenemoreno-linkedin', :title => 'irenemoreno-linkedin', :class => 'blog_icon'}), 'https://es.linkedin.com/in/irenemorenocano', :target => 'blank'%>
				
				<%= link_to image_tag('github.png', {:alt => 'irenemoreno-github', :title => 'irenemoreno-github', :class => 'blog_icon'}), 'https://github.com/irenemoreno', :target => 'blank'%>
	   		</div>		
		</div>


</div>